@import url('https://fonts.googleapis.com/css?family=Asul|Open+Sans');


body {

  font-family: 'Open Sans', sans-serif;
}

.jumbotron{
  font-family: 'Asul', sans-serif;
  /*margin-bottom: 0;*/
  padding-bottom: 20px;
  padding-top: 15px;
}

/* Remove page title hyperlink decoration*/
.jumbotron h1{
  font-size: 45px;
  text-align: left;
}
.jumbotron p{
  /*font-size: 20px;*/
}
.jumbotron h1 a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .jumbotron{
    background: #e9ecef url('../images/headerimg.png') no-repeat right 10% top;
    background-size: auto 100%;
  }
}

h2{
  margin-bottom: 0.6em;
}

h3{
  font-size: 1.3em;
}

footer{
  margin-top: 4em;
}

