
body{
  margin-bottom: 100px;
}
h1{
  text-align: center;
}

#tableContents {
  margin-top: 4rem;
}
table{
  padding: 1rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 0.3rem;
}

tr:hover {
  background-color: #f5f5f5;
}

th.col-ascending:after {
  content: " \25be";
}

th.col-descending:after {
  content: " \25b4";
}

table .col-date {
  min-width: 100px;
}

#pdbDummyInput, #contactDummyInput, #labelDummyInput{
  width: 100%;
}

.btn{
  border-radius: 0.4rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn-upload{
  position: relative;
  width: 100%;
  background-color: #d5dbef;
}
.btn-upload:hover{
  background-color: #c2cbe5;
}
.btn-upload-inactive {
  background-color: #e9ecef;
  color: gray;
}
.btn-upload-inactive:hover{
  /*background-color: #d5dbef;*/
  color: gray;
  background-color: #e9ecef;
  cursor: not-allowed;
}

.btn-compare{
  position: fixed;
  bottom: 0.1rem;
  width: 400px;
  left: 50%;
  margin-left:-200px;
  background-color: #8795b4;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: bottom 200ms;
}
.btn-compare:hover {
  background-color: #325eb4;
}
.btn-compare-inactive {
  bottom: -100px;
  transition: bottom 200ms;
}
.btn-compare-inactive:hover {
  background-color: #969596;
}

.hoverlink{
  text-decoration: underline dashed gray;
}

.fa-external-link-alt{
  font-size: 0.8rem;
}
.fa-external-link-alt:hover{
  color: black;
}

